<%= render :partial => "shared/individual_header" %>
<div class="modal-header">
  <h4 class="modal-title"><%= @item.title %></h4>
</div>
<div class="modal-body">
  <p><%= @item.price_pie %></p>
  <p><%= @item.description %>&hellip;</p>
  <p><%= image_tag("#{@item.title}.png") %></p>
  <p>
    <% if @item.picture_file_name != nil %>
      <%= image_tag @item.picture.url %>
    <% end %>
  </p>
</div>
<% if @item.retire == false || @item.retire == 'f'  %>
  <div class="modal-footer">
    <a href="<%= add_to_cart_path(item_id: @item.id) %>"%>ADD TO CART</a>
  </div>
<% else %>
  <div class="modal-footer">
    <h4>SORRY This item is really old and has retired!</h4>
  <div>
<% end %>
