<%= render :partial => "shared/individual_header" %>
<h1>Pie Categories</h1>

<div class="content-wrapper formStyle">
	<table class="table">
		<thead>
			<tr>
				<th>Category Name:</th>
				<th>Number of Pies:</th>
				<th>Options:</th>
			</tr>
		</thead>

		<tbody>
			<% @categories.each do |category| %>
				<tr>
					<td><%= link_to category.name, admin_restaurant_category_path(id: category.id, restaurant_slug: @restaurant.slug) %></td>
					<td><%= category.items.count %></td>
					<td>
						<%= link_to 'Edit', edit_admin_restaurant_category_path(id: category.id, restaurant_slug: @restaurant.slug) %><br/>
						<%= link_to 'Destroy', admin_restaurant_category_path(id: category.id, restaurant_slug: @restaurant.slug), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<%= link_to 'Create a New Category', new_admin_restaurant_category_path(restaurant_slug: @restaurant.slug) %>
</div>
