<%= render :partial => "shared/header" %>
<h1>Welcome to the Adminstrative Dashboard</h1>

<div class="content-wrapper formStyle">
  <table class="table">
    <thead>
      <tr><th>Manage Restaurants</th></tr>
    </thead>

    <% current_user.restaurants.each do |restaurant| %>
      <tbody>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= link_to "Manage Categories", admin_restaurant_categories_path(restaurant_slug: restaurant.slug)  %></td>
          <td><%= link_to "Manage Items", admin_restaurant_items_path(restaurant_slug: restaurant.slug)  %></td>
          <td><%= link_to "Manage Orders", admin_restaurant_orders_path(restaurant_slug: restaurant.slug)  %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>









